<!-- only show if route is not login -->
<div class="h-100 sidebar" *ngIf="isNotLoginRoute$ | async" data-e2e="app-menu">

  <div class="top d-flex flex-column">
    <a [routerLink]="['dashboard']" data-e2e="app-menu--dashboard">
      <mat-icon aria-label="dashboard">home</mat-icon>
    </a>
  </div>

  <div class="bottom">
    <a [routerLink]="['settings']" data-e2e="app-menu--settings">
      <mat-icon  aria-label="settings">settings</mat-icon>
    </a>
  </div>
</div>

<main>
  <router-outlet></router-outlet>
</main>
