@use '@angular/material' as mat;

:host {
  $blues: mat.$blue-palette;
  $greys: mat.$grey-palette;

  display: flex;
  flex-direction: row;
  min-height: 100%;
  height: 100%;

  > main {
    flex: 1;
  }
}
