<table cdk-table [dataSource]="users$" [trackBy]="trackByUser" data-e2e="easybsb-users-list">
  <!-- Position Column -->
  <ng-container cdkColumnDef="name">
    <th cdk-header-cell *cdkHeaderCellDef>Name</th>
    <td cdk-cell *cdkCellDef="let user"> {{user.name}} </td>
  </ng-container>

  <!-- Name Column -->
  <ng-container cdkColumnDef="role">
    <th cdk-header-cell *cdkHeaderCellDef>Role</th>
    <td cdk-cell *cdkCellDef="let user">{{user.role}}</td>
  </ng-container>

  <tr cdk-header-row *cdkHeaderRowDef="['name', 'role']"></tr>
  <tr cdk-row *cdkRowDef="let row; columns: ['name', 'role'];"></tr>
</table>

<div>
  <button data-e2e="easybsb-user-add" [routerLink]="['./new']">Add user</button>
</div>