@use '@angular/material' as mat;

@import "bootstrap";
@import "@angular/material/prebuilt-themes/indigo-pink.css";
@import "./components/table";

/** 
 * @see https://material.io/archive/guidelines/style/color.html#color-color-palette
 * full list of palettes
 */
$blue-palette: (
  100: #ADD7F6,
  200: #87BFFF,
  300: #3F8EFC,
  400: #2667FF,
  500: #3B28CC,
);

<<<<<<< HEAD
// TODO(v15): As of v15 mat.legacy-core no longer includes default typography styles.
//  The following line adds:
//    1. Default typography styles for all components
//    2. Styles for typography hierarchy classes (e.g. .mat-headline-1)
//  If you specify typography styles for the components you use elsewhere, you should delete this line.
//  If you don't need the default component typographies but still want the hierarchy styles,
//  you can delete this line and instead use:
//    `@include mat.legacy-typography-hierarchy(mat.define-legacy-typography-config());`
@include mat.all-legacy-component-typographies();
@include mat.legacy-core();
=======
@include mat.legacy-typography-hierarchy(mat.define-legacy-typography-config());
@include mat.core();
>>>>>>> f6531f9 (chore(nrwl): 15.0.1)

html, body {
  min-height: 100%;
  height: 100%;
}

.mat-menu {

  &-content {
    padding-top: 0 !important;
    padding-bottom: 0 !important;
  }
}
