@use "@angular/material" as mat;
@import 'functions/rem-calc';

:host {
  $blues: mat.$blue-palette;

  display: flex;
  flex-direction: column;
  height: 100%;

  > header {
    padding: rem-calc(10px);
    background-color: map-get($blues, 300);
  }

  > mat-dialog-content {
    padding: 0;
    margin: 0;
  }
}
