<div class="container-fluid h-100">
  <div class="row">
    <div class="col-12">
      <mat-tab-group
        mat-align-tabs="start"
        data-e2e="settings-tab--devices"
        #tabgroup
        [selectedIndex]="selectedIndex$ | async"
      >
        <mat-tab label="Network" [aria-label]="'devices'">
          <ng-template matTabContent>
            <easy-bsb-network></easy-bsb-network>
          </ng-template>
        </mat-tab>

        <mat-tab label="Benutzer" [attr.data-e2e]="'settings-tab--users'" [aria-label]="'users'" >
          <ng-template matTabContent>
            <easy-bsb-users></easy-bsb-users>
          </ng-template>
        </mat-tab>
      </mat-tab-group>
    </div>
  </div>
</div>
