<div class="container-fluid h-100">
  <div class="row h-100">
    <div class="col-12 h-100">
      <mat-tab-group
        class="h-100"
        mat-align-tabs="start"
        data-e2e="settings-tab--devices"
        #tabgroup
        [selectedIndex]="selectedIndex$ | async"
      >
        <mat-tab [label]="'EASYBSB_SETTINGS_TAB_BUS' | translate" [aria-label]="'bus'" *ngIf="'read' | able: 'devices'">
          <ng-template matTabContent>
            <easy-bsb-bus></easy-bsb-bus>
          </ng-template>
        </mat-tab>

        <mat-tab [label]="'EASYBSB_SETTINGS_TAB_USERS' | translate" [attr.data-e2e]="'settings-tab--users'" [aria-label]="'users'"  *ngIf="'read' | able: 'user'">
          <ng-template matTabContent>
            <easy-bsb-users></easy-bsb-users>
          </ng-template>
        </mat-tab>
      </mat-tab-group>
    </div>
  </div>
</div>
